# Example: Wine Dataset

In [108]:
from sklearn.datasets import load_wine
import pandas as pd
X = load_wine()

In [109]:
import sys
sys.path.append('../')
from mmdcritic.myfunctions import *

In [110]:
X.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names'])

In [111]:
data = X['data']
target = X['target']
target_names = X['target_names']
features_names = X['feature_names']

In [115]:
mmd_result = mmd_critic(data, n_prototypes = 6, n_critics = 3, record = True)

In [118]:
prototypes = pd.DataFrame(mmd_result[0][0], columns = features_names)
critics = pd.DataFrame(mmd_result[1][0], columns = features_names)

In [119]:
prototypes

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,13.73,4.36,2.26,22.5,88.0,1.28,0.47,0.52,1.15,6.62,0.78,1.75,520.0
1,12.25,1.73,2.12,19.0,80.0,1.65,2.03,0.37,1.63,3.40,1.00,3.17,510.0
2,14.75,1.73,2.39,11.4,91.0,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150.0
3,14.83,1.64,2.17,14.0,97.0,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045.0
4,12.07,2.16,2.17,21.0,85.0,2.60,2.65,0.37,1.35,2.76,0.86,3.28,378.0
5,12.60,1.34,1.90,18.5,88.0,1.45,1.36,0.29,1.35,2.45,1.04,2.77,562.0

In [120]:
df = pd.DataFrame(data, columns = features_names)
df['target'] = target

In [122]:
from sklearn.metrics import pairwise_distances_argmin_min
data2prototypes = pairwise_distances_argmin_min(data, Y=prototypes, metric='euclidean')
data2critics = pairwise_distances_argmin_min(data, Y=critics, metric='euclidean')

In [123]:
df['mapped_prototype'] = data2prototypes[0]
df['distance_prototype'] = data2prototypes[1]
df['mapped_critic'] = data2critics[0]
df['distance_critic'] = data2critics[1]

In [124]:
import numpy as np

df.groupby(['target','mapped_prototype']).agg({'distance_prototype':[np.mean, np.std, 'count'],
                                              'distance_critic': [np.mean, np.std, 'count']})

                        distance_prototype                   distance_critic  \
                                      mean         std count            mean
target mapped_prototype
0      2                        160.465606  133.138634    28      551.689275
       3                         69.362395   69.886085    25      245.043852
       5                        193.579660   41.600098     6       25.966970
1      0                         15.297983   11.456695     4       64.988753
       1                         33.296469   22.947251    15       33.803226
       3                        133.937280   44.273975     4      172.442937
       4                         38.114936   25.213137    26       78.415023
       5                         89.756458   59.359998    22       53.399219
2      0                         13.599082   13.454945     7       67.880653
       1                         39.236092    6.505291     3       30.576444
       3                        197.879855   20.325190     5       98.760888
       4                         47.221511   13.425048     2       35.912608
       5                         91.380246   58.974427    31       49.211349


                                std count
target mapped_prototype
0      2                 142.254880    28
       3                  83.795292    25
       5                  16.307775     6
1      0                   9.055540     4
       1                  20.605611    15
       3                  54.224083     4
       4                  44.381728    26
       5                  37.683444    22
2      0                   7.979155     7
       1                   4.761396     3
       3                  19.910133     5
       4                   6.160729     2
       5                  36.489118    31

In [127]:
df.sort_values(by='distance_prototype', ascending = True).head(10)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target,mapped_prototype,distance_prototype,mapped_critic,distance_critic
125,12.07,2.16,2.17,21.0,85.0,2.60,2.65,0.37,1.35,2.76,0.86,3.28,378.0,1,4,0.000000,2,73.427579
165,13.73,4.36,2.26,22.5,88.0,1.28,0.47,0.52,1.15,6.62,0.78,1.75,520.0,2,0,0.000000,2,71.240022
8,14.83,1.64,2.17,14.0,97.0,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045.0,0,3,0.000000,1,295.332866
13,14.75,1.73,2.39,11.4,91.0,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150.0,0,2,0.000000,1,400.491802
101,12.60,1.34,1.90,18.5,88.0,1.45,1.36,0.29,1.35,2.45,1.04,2.77,562.0,1,5,0.000000,2,112.546116
106,12.25,1.73,2.12,19.0,80.0,1.65,2.03,0.37,1.63,3.40,1.00,3.17,510.0,1,1,0.000011,2,62.958392
160,12.36,3.83,2.38,21.0,88.0,2.30,0.92,0.50,1.04,7.65,0.56,1.58,520.0,2,0,2.610709,2,71.188139
67,12.37,1.17,1.92,19.6,78.0,2.11,2.00,0.27,1.04,4.68,1.12,3.48,510.0,1,1,2.654713,2,63.626532
50,13.05,1.73,2.04,12.4,92.0,2.72,3.27,0.17,2.91,7.20,1.12,2.91,1150.0,0,2,2.949610,1,400.411717
9,13.86,1.35,2.27,16.0,98.0,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045.0,0,3,3.270076,1,295.229966